@model Kitabchi.Models.SocialLink

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SocialLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Socialİcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Socialİcon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
